@charset "UTF-8";
.main-head .msg { position:relative; z-index:5; top:50%; width:1100px; margin:-194px auto 0; color:#fff; }
.main-head .msg .in { display:block; position:absolute; left:0; right:0; -webkit-transition:all 800ms ease; transition:all 800ms ease; }
.main-head .msg dt { position:relative; text-align:center; font-size:70px; font-weight:400; line-height:1.14; height:208px; margin-bottom:-24px; overflow:hidden; box-sizing:content-box; }
.main-head .msg dt .in { bottom:-100%; }
.main-head .msg dd { position:relative; height:224px; margin:24px 0 0 0; padding-left:19px; font-size:20px; line-height:1.5; text-align:center; }
.main-head .msg dd .text-wrap { position:relative; display:block; height:3em; overflow:hidden; }
.main-head .msg dd .in { top:-100%; }
.main-head .msg .btn-more { position:absolute; left:50%; bottom:0; margin-left:-52px; }
.main-head .msg .btn-more::before, .main-head .msg .btn-more .i-go::after { background:#fff; }
.main-head .msg .btn-more .i-go::before { border-left-color:#fff; border-bottom-color:#fff; }

.main-head .swiper-slide { height:900px; }
.main-head .swiper-pagination { left:50%; width:675px; bottom:25px; text-align:right; }
.main-head.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet { margin-left:8px; }
.main-head .swiper-pagination-bullet::before { background:#fff !important; }
.main-head .swiper-pagination-bullet .circle i::before { border-color:#fff !important; }
.main-head .swiper-pagination-bullet.swiper-pagination-bullet-active .circle i::before { -webkit-animation-duration:5500ms; animation-duration:5500ms; }
.main-head .swiper-button-prev, .main-head .swiper-button-next { background:transparent; border-radius:100%; overflow:hidden; }
.main-head .swiper-button-prev::before, .main-head .swiper-button-next::before { width:42px; height:2px; margin-left:-21px; margin-right:-21px; }
.main-head .swiper-button-prev::after, .main-head .swiper-button-next::after { border-left-width:2px; border-bottom-width:2px; margin-left:-20px; margin-right:-20px; }
.main-head .swiper-button-next::before, .main-head .swiper-button-next::after { left:auto; right:50%; }
.main-head .swiper-button-prev { left:50%; margin-left:-685px; }
.main-head .swiper-button-next { right:50%; margin-right:-685px; }

.main-head .img { position:absolute; left:0; right:0; top:0; bottom:0; height:900px; overflow:hidden; }
.main-head .img .in { position:absolute; right:0; width:100vw; min-width:1200px; top:0; bottom:0; background-repeat:no-repeat; background-position:center center; background-size:cover; }
.main-head .swiper-slide-active { z-index:3; }
.main-head .swiper-slide-active .img { -webkit-animation:aniswiper 600ms both; animation:aniswiper 600ms both; }
.main-head .swiper-slide-active .btn-more { opacity:1; -webkit-transform:translateY(0);transform:translateY(0); -webkit-transition-delay:300ms; transition-delay:300ms; }
.main-head .swiper-slide-active .msg dt .in { bottom:24px; -webkit-transition-delay:300ms; transition-delay:300ms; }
.main-head .swiper-slide-active .msg dd .in { top:0; -webkit-transition-delay:300ms; transition-delay:300ms; }
.main-head.direction-prev .img .in { left:0; right:auto; }
.main-head.direction-prev .swiper-slide-next { z-index:2; opacity:1 !important; }
.main-head.direction-prev .swiper-slide-next .msg dt .in { bottom:24px; -webkit-transition-duration:0ms; transition-duration:0ms; }
.main-head.direction-prev .swiper-slide-next .msg dd .in { top:0; -webkit-transition-duration:0ms; transition-duration:0ms; }
.main-head.direction-prev .swiper-slide-active .img { -webkit-animation:aniswiper-prev 600ms both; animation:aniswiper-prev 600ms both; }

.store-search { position:fixed; left:0; bottom:0; z-index:100; width:100%; min-width:1200px; opacity:0; -webkit-transition:opacity 0.3s ease 1.3s; transition:opacity 0.3s ease 1.3s; }
.store-search.ani-visible { opacity:1; }
.store-search .btn { position:absolute; left:50%; bottom:0; display:block; height:70px; margin-left:-675px; background:#ff5a2b; padding:0 70px 0 0; }
.store-search .btn::after { position:absolute; right:21px; top:21px; margin-top:-10px; -webkit-transition:margin 0.3s ease; transition:margin 0.3s ease; }
.store-search .btn::before { content:'약국찾기'; position:absolute; right:0; bottom:8px; width:70px; text-align:center; color:#fff; font-size:14px; font-weight:400; -webkit-transition:opacity 0.3s ease; transition:opacity 0.3s ease; }
.store-search .btn .in { position:relative; display:block; width:0; white-space:nowrap; overflow:hidden; color:#fff; font-size:16px; line-height:70px; text-align:left; box-sizing:border-box; -webkit-transition:width 0.3s ease; transition:width 0.3s ease; }
.store-search .btn .in::before { content:''; display:inline-block; width:31px; height:1px; }
.store-search .btn .in::after { content:''; position:absolute; right:0; top:0; bottom:0; width:1px; background:#000; opacity:0.1; }
.store-search .btn:hover::after, .store-search:not(.min) .btn::after { margin-top:0; }
.store-search .btn:hover::before, .store-search:not(.min) .btn::before { opacity:0; }
.store-search .btn:hover .in, .store-search:not(.min) .btn .in { width:220px; -webkit-transition-delay:300ms; transition-delay:300ms; }
.contents { width:1170px; margin:0 auto; padding:0; }
.contents .title { font-size:16px; font-weight:700; line-height:1; text-transform:uppercase; }
.title-sub { font-size:40px; font-weight:400; line-height:1.5; }
.title-sub::after { content:''; display:inline-block; width:6px; height:6px; margin-left:5px; background:#f86f48; border-radius:6px; }

.newsroom { position:relative; margin:200px 0; color:#000; }
.newsroom .btn-more { position:absolute; right:10px; top:150px; }
.newsroom .title { position:absolute; left:0; top:0; z-index:2; width:578px; padding:10px 0; text-align:center; }
.newsroom .deco-set { position:absolute; left:289px; top:23px; }
.newsroom .deco-set .deco-circle { width:23px; height:23px; left:-193px; top:2px; background:#8e8f95; -webkit-animation:anidot-7 18000ms linear infinite both; animation:anidot-7 18000ms linear infinite both; }
.newsroom .deco-set .deco-circle.ty-2 { width:50px; height:50px; left:164px; top:-88px; background:#1e202b; -webkit-animation:anidot-8 16000ms linear 500ms infinite both; animation:anidot-8 16000ms linear 500ms infinite both; }
.newsroom .deco-set .deco-circle.ty-3 { width:100px; height:100px; left:-188px; top:77px; background:#ff5a2b; -webkit-animation:anidot-9 19000ms linear -500ms infinite both; animation:anidot-9 19000ms linear -500ms infinite both; }
.newsroom .title-sub { margin-left:50%; padding-left:14px; }
.newsroom .list { margin:136px 0 0; border-top:1px solid #000; font-size:14px; }
.newsroom .list > li { position:relative; padding:42px 0 27px; border-bottom:1px solid #ddd; }
.newsroom .list > li:hover { z-index:5; }
.newsroom .list li > a { position:relative; display:block; padding:0 110px 0 240px; }
.newsroom .list .subj { position:relative; display:inline-block; max-width:100%; padding-bottom:4px; font-size:24px; font-weight:700; color:#000; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
.newsroom .list .subj::before { content:''; position:absolute; left:0; right:100%; bottom:0; height:1px; background:#000; }
.newsroom .list a:hover .subj::before { right:0; }
.newsroom .list .cat { position:absolute; left:0; top:4px; font-size:14px; color:#ff5a2b; }
.newsroom .list .link { display:block; margin-top:11px; font-size:14px; font-weight:400; color:#000; }
.newsroom .list .hash { margin-top:39px; font-size:14px; font-weight:400; color:#888; }
.newsroom .list .hash .item + .item { margin-left:1em; }
.newsroom .list .g-date { position:absolute; top:8px; right:17px; }
.newsroom .list .hover { position:absolute; left:0; top:39px; height:0px; overflow:hidden; -webkit-transition:height 0.3s ease; transition:height 0.3s ease; -webkit-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.3); -moz-box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.3); box-shadow: 15px 15px 20px 0px rgba(0,0,0,0.3); }
.newsroom .list a:hover .hover,
.newsroom .list .hover img { height:194px; }

.rnd { position:relative; margin:297px 0; color:#000; }
.rnd .title { margin:0 0 36px; text-align:center; }
.rnd .title-sub { margin:0 0 0; text-align:center; }
.rnd .btn-more { position:absolute; left:50%; top:302px; margin-left:-53px; }
.rnd .list { width:1410px; margin:102px -120px -53px; }
.rnd .list .swiper-slide .text { position:absolute; left:238px; top:188px; bottom:199px; text-align:left; font-size:16px; font-weight:400; color:#000; }
.rnd .list .swiper-slide .text > dt { font-size:50px; font-weight:700; line-height:1.14; }
.rnd .list .swiper-slide .text > dd { position:absolute; left:2px; bottom:0; min-width:400px; line-height:2.25; }
.rnd .swiper-slide { height:884px; text-align:center; }
.rnd .swiper-button-prev, .rnd .swiper-button-next { background:transparent; width:50px; height:50px; margin-top:-25px; border-radius:50px; border:1px solid #222; }
.rnd .swiper-button-prev { left:148px; }
.rnd .swiper-button-next { right:148px; }
.rnd .swiper-button-prev::before, .rnd .swiper-button-next::before, .rnd .swiper-button-prev::after, .rnd .swiper-button-next::after { display:none; }
.rnd .swiper-button-prev .ir, .rnd .swiper-button-next .ir { position:absolute; bottom:0; left:0; top:0; right:0; overflow:hidden; }
.rnd .swiper-button-prev .ir::after,
.rnd .swiper-button-next .ir::after { content:''; position:absolute; bottom:0; left:50%; top:50%; margin:-6px -4px 0; width:11px; height:11px; border-left:solid 2px #222; border-bottom:solid 2px #222; -webkit-transform:rotate(45deg);transform:rotate(45deg); }
.rnd .swiper-button-next .ir::after { left:auto; right:50%; -webkit-transform:rotate(-135deg);transform:rotate(-135deg); }
.rnd .preview { position:absolute; right:-14px; top:-2px; height:0; width:0; overflow:hidden; opacity:0; -webkit-transition:opacity 0.3s ease, height 0s ease 0.3s, width 0s ease 0.3s; transition:opacity 0.3s ease, height 0s ease 0.3s, width 0s ease 0.3s; }
.rnd button:hover .preview { opacity:1; width:210px; height:309px; -webkit-transition-delay:0s, 0s; transition-delay:0s, 0s; }
.rnd .preview img { position:absolute; right:0; bottom:0; width:210px; height:156px; }
.rnd .preview .text { position:absolute; right:90px; bottom:180px; width:210px; font-size:14px; color:#000; line-height:1.42; text-align:right; }
.rnd .swiper-button-next .preview { left:-14px; bottom:-2px; right:auto; top:auto; }
.rnd .swiper-button-next .preview img { left:0; top:0; right:auto; bottom:auto; }
.rnd .swiper-button-next .preview .text { left:90px; top:180px; right:auto; bottom:auto; text-align:left; }
.rnd .swiper-container-horizontal>.swiper-pagination-bullets, .rnd .swiper-pagination-custom, .rnd .swiper-pagination-fraction { left:auto; right:284px; bottom:190px; width:auto; font-weight:700; }
.rnd .swiper-pagination-current { font-size:60px; -webkit-text-stroke : 1px #222; color:transparent; }
.ie .rnd .swiper-pagination-current { text-shadow: -1px -1px 0 #222, 1px -1px 0 #222, -1px 1px 0 #222, 1px 1px 0 #222; }
.rnd .swiper-pagination-total { font-size:26px; color:#000; }
.rnd .swiper-pagination-total::before { content:''; display:inline-block; width:1px; height:40px; margin:0 9px -2px 16px; background:#000; -webkit-transform:rotate(28deg); transform:rotate(28deg); }

.rnd .img { position:relative; display:block; width:672px; height:884px; margin:0 auto; opacity:0; -webkit-transition:opacity 600ms ease 200ms; transition:opacity 600ms ease 200ms; }
.rnd .img .in { position:absolute; left:0; right:0; top:0; bottom:0; overflow:hidden; }
.rnd .img img { width:672px; }
.rnd .swiper-slide-active { z-index:3; }
.rnd .swiper-slide-active .img { opacity:1; -webkit-transition-duration:0ms; transition-duration:0ms; -webkit-transition-delay:0ms; transition-delay:0ms; }
.rnd .direction-prev .swiper-slide-next { z-index:2; opacity:1 !important; }
.rnd .swiper-slide-active .img .in { -webkit-animation:aniswiper 600ms both; animation:aniswiper 600ms both; }
.rnd .direction-prev .swiper-slide-active .img .in { -webkit-animation:aniswiper-prev 600ms both; animation:aniswiper-prev 600ms both; }
.rnd .swiper-slide .text > dt { opacity:0; -webkit-transform:translateX(40px);transform:translateX(40px); -webkit-transition:all 100ms ease; transition:all 100ms ease; }
.rnd .swiper-slide .text > dd { opacity:0; -webkit-transform:translateX(40px);transform:translateX(40px); -webkit-transition:all 100ms ease; transition:all 100ms ease; }
.rnd .swiper-slide.swiper-slide-active .text > dt, .rnd .swiper-slide.swiper-slide-active .text > dd, .rnd .swiper-slide.swiper-slide-active .img { opacity:1; -webkit-transform:translateX(0); transform:translateX(0); }
.rnd .swiper-slide.swiper-slide-active .text > dt { -webkit-transition-duration:600ms; transition-duration:600ms; -webkit-transition-delay:400ms; transition-delay:400ms; }
.rnd .swiper-slide.swiper-slide-active .text > dd { -webkit-transition-duration:600ms; transition-duration:600ms; -webkit-transition-delay:500ms; transition-delay:500ms; }

.global-network { position:relative; height:1959px; margin:307px 0 0; color:#fff; }
.global-network::before { content:''; position:absolute; left:-90px; top:0; bottom:0; width:1920px; z-index:-1; background:#1e202b; }
.global-network .inner { position:absolute; top:0; width:1170px; height:1959px; padding:166px 0 0 119px; }
.global-network .inner .title-sub { margin-top:37px; }
.global-network .deco-circle { left:21px; top:378px; width:33px; height:33px; background:#e9e9ea; -webkit-animation:anidot-5 18000ms linear infinite both; animation:anidot-5 18000ms linear infinite both; }
.global-network .deco-circle.ty-2 { left:1190px; top:201px; width:33px; height:33px; background:#fff; -webkit-animation:anidot-5 19000ms linear -500ms infinite both; animation:anidot-5 19000ms linear -500ms infinite both; }
.global-network .deco-circle.ty-3 { left:1093px; top:106px; width:132px; height:132px; background:#ff5a2b; -webkit-animation:anidot-6 16000ms linear 500ms infinite both; animation:anidot-6 16000ms linear 500ms infinite both; }
.global-network .deco-txt { position:absolute; left:10px; top:444px; }
.global-network .deco-map { position:absolute; left:50%; top:409px; z-index:-1; margin-left:-960px; }
.global-network .list-wrap { margin:89px 0 0 481px; font-size:16px; color:#fff; line-height:1.5; font-weight:400; }
.global-network .list { position:relative; width:570px; }
.global-network .list.fix { position:fixed; top:0; }
.global-network .list::after { content:''; display:block; clear:both; }
.global-network .list::before { content:''; position:absolute; left:-975px; top:-19px; width:1920px; height:858px; background:url("/images/network-map.png") 0 0 no-repeat; }
.global-network .list li { position:relative; float:left; width:270px; padding-top:95px; }
.global-network .list li:nth-child(2n) { float:right; }
.global-network .list .name { display:block; }
.global-network .list .val { display:block; font-size:100px; line-height:1; margin-top:16px; padding-top:42px; border-top:2px solid #fff; }
.global-network .btn-more { margin-top:165px; }
.global-network .list.fix + .btn-more { position:fixed; top:606px; }
.global-network .btn-more::before, .global-network .btn-more .i-go::after { background:#fff; }
.global-network .btn-more .i-go::before { border-color:#fff; }


.company-culture dt[class^=i-culture]::after { content:''; width:88px; height:77px; background-image:url("/resource/p/kr/image/main/i-culture.png"); }
.i-culture::after { background-position:0 0; }
.i-culture-2::after { background-position:-90px 0;}
.i-culture-3::after { background-position:-180px 0; }
.i-culture-4::after { background-position:-270px 0; }
.company-culture { position:relative; margin:248px 0; color:#000; }
.company-culture .title { position:absolute; left:0; top:0; z-index:2; width:578px; padding:10px 0 10px 52px; text-align:center; }
.company-culture .title-sub { margin:0 -14px 0 50%; padding-left:14px; }
.company-culture .btn-more { position:absolute; left:50%; top:251px; margin-left:14px; }
.company-culture .deco-set { position:absolute; left:248px; top:162px; width:0; height:0; }
.company-culture .deco-set .deco-circle.ty-1 { width:33px; height:33px; left:-14px; top:-46px; background:#8e8f95; opacity:0.5; -webkit-animation:anidot-5 18000ms linear infinite both; animation:anidot-5 18000ms linear infinite both; }
.company-culture .deco-set .deco-circle.ty-2 { width:66px; height:66px; left:-282px; top:79px; background:#1e202b; -webkit-animation:anidot-7 16000ms linear -500ms infinite both; animation:anidot-7 16000ms linear -500ms infinite both; }
.company-culture .deco-set .deco-circle.ty-3 { left:33px; top:-9px; background:#ff5a2b; -webkit-animation:anidot-6 16000ms linear 500ms infinite both; animation:anidot-6 16000ms linear 500ms infinite both; }
.company-culture .list { margin:175px -120px 0; padding:0; }
.company-culture .swiper-slide .text { position:absolute; right:50%; bottom:0; width:690px; height:390px; padding:73px 91px; margin-right:-14px; z-index:2; background:rgba(246,242,233,0.9); }
.company-culture .swiper-slide dt::after { position:absolute; right:0; top:-6px; }
.company-culture .swiper-slide .text dt { margin-bottom:15px; font-size:40px; color:#303030; font-weight:bold; line-height:1.25; }
.company-culture .swiper-slide .text dt small { display:block; padding:2px 0 8px; font-size:20px; }
.company-culture .swiper-slide .text dd { font-size:16px; color:#222; font-weight:400; line-height:1.875; }
.company-culture .swiper-slide .img { position:relative; display:block; width:990px; height:600px; margin:0 auto; }
.company-culture .swiper-slide .img .in { position:absolute; left:0; right:0; top:0; bottom:0; overflow:hidden; }
.company-culture .swiper-slide .img img { width:990px; height:600px; }
.company-culture .preview { position:absolute; right:-66px; bottom:-471px; padding-bottom:0; width:210px; overflow:hidden; text-align:left; }
.company-culture .preview img { height:200px; margin-left:-200px; }
.company-culture .preview .img { display:block; text-align:right; overflow:hidden; }
.company-culture .preview .num { display:block; }
.company-culture .preview .text { display:block; margin:0 0 11px 20px; font-size:14px; color:#000; line-height:1.42; min-height:4.26em; }

.company-culture .swiper-button-prev, .company-culture .swiper-button-next { background:transparent; width:50px; height:50px; top:80px; margin-top:0; border-radius:50px; border:1px solid #222; }
.company-culture .swiper-button-prev { left:95px; }
.company-culture .swiper-button-next { right:65px; }
.company-culture .swiper-button-prev::before, .company-culture .swiper-button-next::before, .company-culture .swiper-button-prev::after, .company-culture .swiper-button-next::after { display:none; }
.company-culture .swiper-button-prev .ir, .company-culture .swiper-button-next .ir { position:absolute; bottom:0; left:0; top:0; right:0; overflow:hidden; }
.company-culture .swiper-button-prev .ir::after,
.company-culture .swiper-button-next .ir::after { content:''; position:absolute; bottom:0; left:50%; top:50%; margin:-6px -4px 0; width:11px; height:11px; border-left:solid 2px #222; border-bottom:solid 2px #222; -webkit-transform:rotate(45deg);transform:rotate(45deg); }
.company-culture .swiper-button-next .ir::after { left:auto; right:50%; -webkit-transform:rotate(-135deg);transform:rotate(-135deg); }
html:not(.ie) .company-culture .swiper-button-prev:focus,
html:not(.ie) .company-culture .swiper-button-next:focus,
html:not(.ie) .rnd .swiper-button-prev:focus,
html:not(.ie) .rnd .swiper-button-next:focus { outline:none; }
html:not(.ie) .company-culture .swiper-button-prev:focus .ir,
html:not(.ie) .company-culture .swiper-button-next:focus .ir,
html:not(.ie) .rnd .swiper-button-prev:focus .ir,
html:not(.ie) .rnd .swiper-button-next:focus .ir { outline:-webkit-focus-ring-color auto 1px; }

.company-culture .swiper-slide-active { z-index:3; }
.company-culture .direction-prev .swiper-slide-next { z-index:2; opacity:1 !important; }
.company-culture .swiper-slide-active .img .in { -webkit-animation:aniswiper 600ms both; animation:aniswiper 600ms both; }
.company-culture .direction-prev .swiper-slide-active .img .in { -webkit-animation:aniswiper-prev 600ms both; animation:aniswiper-prev 600ms both; }
.company-culture .swiper-slide .text dt, .company-culture .swiper-slide .text dd { opacity:0; -webkit-transform:translateX(70px);transform:translateX(70px); -webkit-transition:all 600ms ease; transition:all 600ms ease; }
.company-culture .swiper-slide .text dd { -webkit-transition-delay:100ms; transition-delay:100ms; }
.company-culture .swiper-slide-active .text dt, .company-culture .swiper-slide-active .text dd { opacity:1; -webkit-transform:translateX(0);transform:translateX(0); }
.company-culture .swiper-pagination-fraction, .company-culture .swiper-pagination-custom, .company-culture .swiper-container-horizontal > .swiper-pagination-bullets { left:113px; bottom:58px; width:495px; text-align:left; }
.company-culture .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet + .swiper-pagination-bullet { margin-left:8px; }


@media all and (max-width:1360px) {
	.main-head .swiper-pagination { width:600px; }
	.main-head .swiper-button-prev { margin-left:-610px; }
	.main-head .swiper-button-next { margin-right:-610px; }
	.store-search .btn { margin-left:-600px; }
}
/****************************** Animation ******************************/
.title { opacity:0; -webkit-transform:translateY(70px);transform:translateY(70px); -webkit-transition:all 600ms ease; transition:all 600ms ease; }
.title-sub { opacity:0; -webkit-transform:translateY(70px);transform:translateY(70px); -webkit-transition:all 600ms ease 100ms; transition:all 600ms ease 100ms; }
.btn-more { opacity:0; -webkit-transform:translateY(70px);transform:translateY(70px); -webkit-transition:opacity 600ms ease 200ms, -webkit-transform 600ms ease 200ms; transition:opacity 600ms ease 200ms, transform 600ms ease 200ms; }
.title.ani-visible, .title-sub.ani-visible, .btn-more.ani-visible { opacity:1; -webkit-transform:translateY(0);transform:translateY(0); }
.rnd .list, .company-culture .list, .newsroom .list > li { opacity:0; -webkit-transform:translateY(70px);transform:translateY(70px); -webkit-transition:all 600ms ease 200ms; transition:all 600ms ease 200ms; }
.newsroom .list > li:nth-child(1) { -webkit-animation-delay:50ms; animation-delay:50ms; }
.newsroom .list > li:nth-child(2) { -webkit-animation-delay:100ms; animation-delay:100ms; }
.newsroom .list > li:nth-child(3) { -webkit-animation-delay:200ms; animation-delay:200ms; }
.rnd.ani-visible .list, .company-culture.ani-visible .list, .newsroom .list > li.ani-visible { opacity:1; -webkit-transform:translateY(0);transform:translateY(0); }
.global-network .list .name { opacity:0; -webkit-transform:translateY(70px);transform:translateY(70px); -webkit-transition:all 600ms ease; transition:all 600ms ease; }
.global-network .list .val { opacity:0; -webkit-transform:translateY(90px);transform:translateY(90px); -webkit-transition:all 600ms ease; transition:all 600ms ease; }
.global-network .list > li:nth-child(1) .name, .global-network .list > li:nth-child(1) .val { -webkit-transition-delay:50ms; transition-delay:50ms; }
.global-network .list > li:nth-child(2) .name, .global-network .list > li:nth-child(2) .val { -webkit-transition-delay:450ms; transition-delay:450ms; }
.global-network .list > li:nth-child(3) .name, .global-network .list > li:nth-child(3) .val { -webkit-transition-delay:450ms; transition-delay:450ms; }
.global-network .list > li:nth-child(4) .name, .global-network .list > li:nth-child(4) .val { -webkit-transition-delay:650ms; transition-delay:650ms; }
.global-network .list .ani-visible .name, .global-network .list .ani-visible .val { opacity:1; -webkit-transform:translateY(0);transform:translateY(0); }


.rnd .swiper-button-prev, .company-culture .swiper-button-prev { animation:ani-prevbtn-2-out 300ms both; }
.rnd .swiper-button-prev .ir::after, .company-culture .swiper-button-prev .ir::after { animation:ani-prev-2-out 300ms both; }
.rnd .swiper-button-next, .company-culture .swiper-button-next { animation:ani-nextbtn-2-out 300ms both; }
.rnd .swiper-button-next .ir::after, .company-culture .swiper-button-next .ir::after { animation:ani-next-2-out 300ms both; }
.rnd .swiper-button-prev:hover, .company-culture .swiper-button-prev:hover { animation:ani-prevbtn-2 600ms both; }
.rnd .swiper-button-prev:hover .ir::after, .company-culture .swiper-button-prev:hover .ir::after { animation:ani-prev-2 600ms both; }
.rnd .swiper-button-next:hover, .company-culture .swiper-button-next:hover { animation:ani-nextbtn-2 600ms both; }
.rnd .swiper-button-next:hover .ir::after, .company-culture .swiper-button-next:hover .ir::after { animation:ani-next-2 600ms both; }
.main-head .swiper-button-prev { animation:ani-prevbtn-3-out 300ms both; }
.main-head .swiper-button-prev::after { animation:ani-prev-3-out 300ms both; }
.main-head .swiper-button-prev::before { animation:ani-prev-3-out-bar 300ms both; }
.main-head .swiper-button-next { animation:ani-nextbtn-3-out 300ms both; }
.main-head .swiper-button-next::after { animation:ani-next-3-out 300ms both; }
.main-head .swiper-button-next::before { animation:ani-next-3-out-bar 300ms both; }
.main-head .swiper-button-prev:hover { animation:ani-prevbtn-3 600ms both; }
.main-head .swiper-button-prev:hover::after { animation:ani-prev-3 600ms both; }
.main-head .swiper-button-prev:hover::before { animation:ani-prev-3-bar 600ms both; }
.main-head .swiper-button-next:hover { animation:ani-nextbtn-3 600ms both; }
.main-head .swiper-button-next:hover::after { animation:ani-next-3 600ms both; }
.main-head .swiper-button-next:hover::before { animation:ani-next-3-bar 600ms both; }

@keyframes ani-prevbtn-2{ 100%{border-color:#ff5a2b;background-color:#ff5a2b;} 0%, 50%{background-color:transparent;} }
@keyframes ani-nextbtn-2{ 100%{border-color:#ff5a2b;background-color:#ff5a2b;} 0%, 50%{background-color:transparent;} }
@keyframes ani-prev-2{ 100%{left:50%;border-color:#fff;} 50.1%{left:100%;border-color:#fff;} 50%{left:-100%;} }
@keyframes ani-next-2{ 100%{right:50%;border-color:#fff;} 50.1%{right:100%;border-color:#fff;} 50%{right:-100%;} }

@keyframes ani-prevbtn-2-out{ 0%{border-color:#ff5a2b;background-color:#ff5a2b;} 100%{background-color:transparent;} }
@keyframes ani-nextbtn-2-out{ 0%{border-color:#ff5a2b;background-color:#ff5a2b;} 100%{background-color:transparent;} }
@keyframes ani-prev-2-out{ 0%{left:50%;border-color:#fff;} 100%{left:50%;} }
@keyframes ani-next-2-out{ 0%{right:50%;border-color:#fff;} 100%{right:50%;} }

@keyframes ani-prevbtn-3-out{ 0%{background-color:#ff5a2b;} 100%{background-color:transparent;} }
@keyframes ani-nextbtn-3-out{ 0%{background-color:#ff5a2b;} 100%{background-color:transparent;} }
@keyframes ani-prev-3-out{ 0%{margin-left:-3px;} }
@keyframes ani-next-3-out{ 0%{margin-right:-3px;} }
@keyframes ani-prev-3-out-bar{ 0%{left:70%;background-color:transparent;} 100%{left:50%;} }
@keyframes ani-next-3-out-bar{ 0%{right:70%;background-color:transparent;} 100%{right:50%;} }

@keyframes ani-prevbtn-3{ 100%{background-color:#ff5a2b;} 0%, 50%{background-color:transparent;} }
@keyframes ani-nextbtn-3{ 100%{background-color:#ff5a2b;} 0%, 50%{background-color:transparent;} }
@keyframes ani-prev-3{ 100%{left:50%;border-color:#fff;margin-left:-3px;} 50.1%{left:100%;border-color:#fff;margin-left:-3px;} 50%{left:-100%;} }
@keyframes ani-next-3{ 100%{right:50%;border-color:#fff;margin-right:-3px;} 50.1%{right:100%;border-color:#fff;margin-right:-3px;} 50%{right:-100%;} }
@keyframes ani-prev-3-bar{ 100%{left:50%;background-color:transparent;} 50.1%{left:100%;background-color:transparent;} 50%{left:-100%;} }
@keyframes ani-next-3-bar{ 100%{right:50%;background-color:transparent;} 50.1%{right:100%;background-color:transparent;} 50%{right:-100%;} }

@keyframes aniswiper{0%{ left:100%; } 100%{ left:0; }}
@-webkit-keyframes aniswiper{0%{ left:100%; } 100%{ left:0; }}
@keyframes aniswiper-prev{0%{ right:100%; } 100%{ right:0; }}
@-webkit-keyframes aniswiper-prev{0%{ right:100%; } 100%{ right:0; }}

.line-set { position:absolute; left:50%; top:185px; z-index:-1; width:1182px; height:1140px; margin:0 0 0 -680px; opacity:0; -webkit-transition:opacity 2000ms ease; transition:opacity 2000ms ease; }
.rnd.ani-visible .line-set { opacity:1; }
.line-set .line { position:absolute; left:0; top:0; width:1182px; height:1140px; background:url("/images/main-line.png") 0 0 no-repeat; opacity:0; -webkit-animation:mainline 10500ms linear infinite both; animation:mainline 10500ms linear infinite both; }
.line-set .line:nth-child(2) { opacity:.9; -webkit-animation-delay:300ms; animation-delay:300ms; }
.line-set .line:nth-child(3) { opacity:.81; -webkit-animation-delay:600ms; animation-delay:600ms; }
.line-set .line:nth-child(4) { opacity:.72; -webkit-animation-delay:900ms; animation-delay:900ms; }
.line-set .line:nth-child(5) { opacity:.63; -webkit-animation-delay:1200ms; animation-delay:1200ms; }
.line-set .line:nth-child(6) { opacity:.54; -webkit-animation-delay:1500ms; animation-delay:1500ms; }
.line-set .line:nth-child(7) { opacity:.45; -webkit-animation-delay:1800ms; animation-delay:1800ms; }
.line-set .line:nth-child(8) { opacity:.36; -webkit-animation-delay:2100ms; animation-delay:2100ms; }
.line-set .line:nth-child(9) { opacity:.27; -webkit-animation-delay:2400ms; animation-delay:2400ms; }
.line-set .line:nth-child(10) { opacity:.18; -webkit-animation-delay:2700ms; animation-delay:2700ms; }
.line-set .line:nth-child(11) { opacity:.09; -webkit-animation-delay:3000ms; animation-delay:3000ms; }
@keyframes mainline{
	0% {left:0; top:0;} 6.25% {left:5.5px; top:-28.5px;} 12.5% {left:22px; top:-53.5px;} 18.75% {left:46.5px; top:-69.5px;}
	25% {left:75px; top:-75px;} 31.25% {left:103.5px; top:-69.5px;} 37.5% {left:128px; top:-53.5px;}
	43.75% {left:144px; top:-28.5px;} 50% {left:149.5px; top:0;} 56.25% {left:144px; top:28.5px;}
	62.5% {left:128px; top:53.5px;} 68.75% {left:103.5px; top:69.5px;} 75% {left:75px; top:75px;}
	81.25% {left:46.5px; top:69.5px;} 87.5% {left:22px; top:53.5px;} 93.75% {left:5.5px; top:28.5px;} 100% {left:0; top:0;}
}
@-webkit-keyframes mainline{
	0% {left:0; top:0;} 6.25% {left:5.5px; top:-28.5px;} 12.5% {left:22px; top:-53.5px;} 18.75% {left:46.5px; top:-69.5px;}
	25% {left:75px; top:-75px;} 31.25% {left:103.5px; top:-69.5px;} 37.5% {left:128px; top:-53.5px;}
	43.75% {left:144px; top:-28.5px;} 50% {left:149.5px; top:0;} 56.25% {left:144px; top:28.5px;}
	62.5% {left:128px; top:53.5px;} 68.75% {left:103.5px; top:69.5px;} 75% {left:75px; top:75px;}
	81.25% {left:46.5px; top:69.5px;} 87.5% {left:22px; top:53.5px;} 93.75% {left:5.5px; top:28.5px;} 100% {left:0; top:0;}
}